h1{
	
	font-size:Helvetica, Arial;
	color:#000;
	text-align:center;
	text-decoration:underline;
	text-decoration:underline;
}

img{
	height:400px;
	width:400px;
	left:200px;
	background-attachment:fixed;
}

body {
	background-attachment:fixed;
	background-attachment:scroll;
	font-size: Arial, Helvetica;
	font-size: 20px;
	background:url(../imagenes/Logo4.png) 100%;
	background-position:100%;
	text-align:center;
}
	li {
		color: #000;
		
		
	}
	p {
		
		color:#000;
		font-size:
		
	}
	h2{
		
		text-decoration:underline;
	}
